@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
@layer components {
  .link-item {
    @apply text-base font-normal leading-5;
  }

  .btn-link,
  .btn-link._active {
    @apply flex p-[14px] gap-2 rounded-3xl;
  }

  .btn-link {
    @apply border-2 border-additional-purple;
  }
}

/* main */
@layer components {
  /* Banner */
  .banner {
    @apply relative grid grid-cols-3 gap-4 left-8 mb-auto max-w-[333px] w-full;
  }

  .vertical-line {
    @apply relative flex flex-col-reverse max-w-[101px] min-w-[64px] w-full h-full;
  }

  .vertical-line .svg-img {
    @apply absolute left-0 w-full;
  }

  /* blog */
  .blog__area {
    @apply relative overflow-y-scroll py-6 pl-6 pr-10 border-[3px] border-additional-purple rounded-[100px] max-w-[530px]  max-h-[595px] w-full h-full;
  }

  .area__content {
    @apply flex flex-col overflow-hidden gap-4 w-full h-full;
  }

  .article {
    @apply flex bg-main-deep-blue flex-col py-4 px-16 rounded-[196px] items-start self-stretch;
  }

  .article__info {
    @apply text-2xl font-normal leading-7;
  }

  .article__date {
    @apply text-transparent-white-60 text-sm font-[450] leading-4 mt-[14px];
  }

  .scrollbar {
    @apply absolute top-[15%] right-4 h-[70%] w-2 bg-transparent-white-12 rounded-[10px];
  }

  .scrollbar-thumb {
    @apply relative w-full h-[104px] bg-main-blue cursor-pointer rounded-[10px];
  }
}

@layer utilities {
  ._active {
    @apply bg-main-blue border-none;
  }

  @keyframes move {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(110%);
    }
  }
  @keyframes moveReverse {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-30%);
    }
  }
}

.blog__area::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
