@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
@layer components {
  .header {
    @apply relative py-[1.1rem] px-11 sm-to-xl:py-[10px] sm-to-xl:px-[14px] sm:py-[5px] sm:px-[7px] mx-[140px] xl-mm:mx-20 lg:mx-[10px] bg-main-navy-blue border-4 border-main-blue rounded-[64px];
  }

  .right-menu {
    @apply hidden xl:flex justify-end mr-14 sm:mr-[2.6rem];
  }

  .burger-menu {
    @apply flex absolute flex-col w-7 sm:w-[1.4rem] h-7 sm:h-[1.4rem] top-1/3 sm:top-[26.3%] right-8 sm:right-4 z-10 justify-around sm:justify-evenly flex-nowrap cursor-pointer transition-all duration-500;
  }

  .burger-line {
    @apply w-8 sm:w-[1.2rem] h-1 sm:h-[3px] rounded-xl transform origin-custom sm:origin-small transition-all duration-300 bg-white rotate-0;
  }

  .top-line.opened {
    @apply rotate-45;
  }

  .medium-line.opened {
    @apply translate-x-full opacity-0;
  }

  .bottom-line.opened {
    @apply -rotate-45;
  }

  .right-nav {
    @apply flex justify-between top-[95px] xl:xl-closed-nav;
  }

  .right-nav.opened {
    @apply xl:xl-right-nav;
  }

  .menu__links {
    @apply flex justify-center gap-[2.05rem] xl:gap-[13px] p-2 xl:xl-menu__links;
  }

  .right-nav .link-item {
    @apply text-base font-normal leading-5 hover:text-main-blue cursor-pointer xl:xl-menu__link-item;
  }

  .lang-btn img {
    @apply lang-img;
  }

  .btn-link,
  .btn-link._active {
    @apply flex p-[14px] gap-2 rounded-3xl sm:p-2;
  }

  .btn-link._active {
    @apply hover:text-slate-900;
  }

  .btn-link {
    @apply border-2 border-additional-purple;
  }
}

/* main */
@layer components {
  .main {
    @apply relative flex mx-[140px] xl-mm:mx-20 lg:mx-[10px] overflow-hidden 3xl:items-center 3xl:justify-between 3xl:max-h-[960px] h-full sm-to-2xl:flex-wrap lg:flex-col lg:items-center sm-to-lg:gap-80 sm:gap-48;
  }

  /* Banner */
  .banner {
    @apply 3xl:relative 2xl:absolute-banner grid grid-cols-3 sm:grid-cols-sm-48 gap-4 sm:gap-2 3xl:left-20 sm:right-80 mb-auto max-w-[333px]  w-full overflow-hidden z-[-5];
  }

  .vertical-line {
    @apply relative flex flex-col-reverse max-w-[101px] min-w-[64px] sm:max-w-[48px] sm:min-w-0 w-full h-full translate-y-36;
  }

  .vertical-line .svg-img {
    @apply absolute left-0 w-full;
  }

  /* blog */
  .blog__area {
    @apply relative z-[4] overflow-y-scroll py-6 sm:py-[7px] pl-6 sm:pl-[10px] pr-10 sm:pr-4  border-[3px] border-additional-purple rounded-[100px] sm:rounded-[50px] 3xl:max-w-[530px] 2xl:max-w-[490px] 3xl:max-h-[595px] sm-to-2xl:max-h-[500px] sm:max-h-[418px] w-full h-full before:blog__area-before;
  }

  .area__content {
    @apply flex flex-col overflow-hidden gap-4 sm:gap-[10px] w-full h-full;
  }

  .article {
    @apply flex bg-main-deep-blue flex-col py-4 sm:py-[15px] px-16 sm:px-[32px] rounded-[196px] sm:rounded-[40px] items-start self-stretch;
  }

  .article__info {
    @apply 3xl:text-2xl sm-to-2xl:text-xl sm:text-[16px] sm:leading-5 font-normal;
  }

  .article__date {
    @apply text-transparent-white-60 text-sm font-[450] leading-4 mt-[14px] sm:mt-[6px];
  }

  .scrollbar {
    @apply absolute top-[15%] sm:top-[11%] right-4 sm:right-[0.3rem] h-[70%] w-2 sm:w-1 bg-transparent-white-12 rounded-[10px];
  }

  .scrollbar-thumb {
    @apply relative w-full h-[104px] sm:h-[77px] bg-main-blue cursor-pointer rounded-[10px];
  }
}

/* footer */
@layer components {
  .footer {
    @apply relative flex mt-16 sm:mt-[7.7rem] justify-between items-end xl-mm:items-center lg:items-start gap-8 sm:gap-[20px] px-[140px] pt-[2.1rem] pb-6 sm:p-5 sm:pt-[15px] border-t-4 sm:border-t-2 border-l-4 sm:border-l-2 border-r-4 sm:border-r-2 border-main-blue rounded-t-rounded-3xl sm:rounded-t-[50px] xl:flex-col;
  }

  .pages {
    @apply flex justify-between;
  }

  .pages__links {
    @apply flex justify-center items-center gap-10 lg:flex-col lg:gap-0.5 lg:items-start;
  }

  .pages__links .link__item {
    @apply font-lexend text-base sm:text-sm font-normal leading-5 text-center hover:text-main-blue transition-colors sm:w-max;
  }

  .btns-social {
    @apply flex gap-2;
  }

  .btn-social__link {
    @apply bg-vector w-8 sm:w-[27px] h-8 sm:h-[27px] hover:invert transition-all duration-300;
  }

  .link__img {
    @apply flex items-center justify-center h-full w-full;
  }

  .link__img img {
    @apply w-4 h-4;
  }
}

@layer utilities {
  ._active {
    @apply bg-main-blue border-none;
  }

  ._active-link {
    @apply text-main-blue;
  }

  .absolute-banner {
    @apply absolute xl-mm-2xl:right-12 lg:left-[] h-[1000px] sm:h-[988px];
  }

  .bg-vector {
    background-image: url('../src/svg/BG.svg');
    background-repeat: no-repeat;
    background-clip: content-box;
    background-position: center;
  }

  .xl-closed-nav {
    @apply flex-col invisible fixed right-0 h-screen w-screen translate-x-full;
  }

  .xl-right-nav {
    @apply pb-[100px] items-center translate-x-0 visible bg-main-navy-blue z-[5] overflow-y-auto transition-all duration-500;
  }

  .lang-img {
    height: 20px;
    width: 20px;
  }

  .xl-menu__links {
    @apply flex-col items-center w-[300px];
  }

  .xl-menu__link-item {
    @apply w-full py-[13px] px-5 border-2 border-main-blue rounded-[28px] hover:text-white hover:bg-main-blue transition-colors;
  }

  .blog__area-before {
    position: absolute;
    width: 100%;
    height: 170%;
    top: 0;
    left: 0;
    @apply bg-transparent-white-12 3xl:h-[155%];
    filter: blur(10px);
  }

  .dot-light {
    position: absolute;
    width: 113px;
    height: 1302px;
    top: -140px;
    left: 160px;
    transform: rotate(-54.31deg);
    opacity: 0.55;
    border-radius: 100%;
    background: linear-gradient(#478bf9 40%, #478bf9 100%);
    filter: blur(113px);
  }

  .dot-light_rounded {
    position: absolute;
    width: 350px;
    height: 350px;
    bottom: 140px;
    right: 0;
    opacity: 0.7;
    border-radius: 100%;
    background: linear-gradient(#478bf9 100%, #9dadf2 100%);
    filter: blur(237px);
  }
}

.blog__area::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body.no-scroll {
  overflow: hidden;
}

body {
  @apply before:dot-light after:dot-light_rounded
}
